<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robmeijer.dev - {% block title 'Welcome!' %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ absolute_url('site.webmanifest') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body '' %}
</body>
</html>
